# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

node_modules
coverage
package-lock.json
dist*
*/*.hidden.js

# Vim
*.swp
*.swo

# Mac OS
.DS_Store
